.header__overlay {
    display: none;
}

.header__overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .1;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .header__overlay {
        display: none;   
    }
}

@media screen and (min-width: 1440px) {
    .header__overlay {
        display: none;   
    }
}

.header__overlay:has(.sidenav.open) {
    display: block;
}

