.header__burger-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 206px;
    height: 100vh;
    border-radius: 15px;
    background-color:rgb(173, 164, 164);
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    z-index: 1;
}

.header__burger-sidenav.open {
    transform: translateX(0);
}