.header {
    padding-top: 20px;
}

.header__right-wrapper {
    display: flex;
}

.wrap-icon-heart {
    position: relative;
    margin-left: 70px;
    list-style: none; 
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: var(--light_gray_nav); 
}

.icon-heart {
    position: absolute;
    top: 12px;
    left: 11px;
    display: block;
    width: 15px;
    height: 13px;
    background-image: url('../../assets/icons/icon-heart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrap-login {
    position: relative;
    list-style: none; 
    width: 85px;
    height: 37px;
    border-radius: 18px;
    background-color: var(--light_gray_nav); 
}

.login {
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight: 700;
}


@media screen and (min-width: 1440px) {
    .header {
        padding-top: 31px;
    } 

    .wrap-icon-heart {
        margin-left: 480px; 
        width: 50px;
        height: 50px;
    }
    
    .icon-heart {
        top: 16px;
        left: 15px;
        width: 20px;
        height: 17px;
    }
    
    .header__item_login {
        position: relative;
        list-style: none; 
        width: 114px;
        height: 50px;
        border-radius: 25px;
        background-color: var(--light_gray_nav); 
    }
    
    .login {
        position: absolute;
        top: 12px;
        left: 32px;
    }
}

