.logo {
    margin-left: 15px;
    display: block;
    width: 100px;
    height: 30px;
    background-image: url('../../assets/img/logo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 129px;
        height: 38px;
    }
}