

@media screen and (min-width: 1440px) {
    .logo-sidenav {
        display: block;
        margin: 0;
        width: 129px;
        height: 38px;
        background-image: url('../../assets/img/logo.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}