.header__burger {
    position: relative;
    margin: auto;
    width: 20px;
    height: 2px;
    background-color: var(--black);
}

.header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--black);
}

.header__burger::before {
    top: -5px;
}

.header__burger::after {
    top: 5px;
}

@media screen and (min-width: 1440px) {
    .header__burger {
        display: none;
    }
}