.button_telegram {
    width: 186px;
    height: 50px;
    background-color: var(--blue_telegram);
}

.button_telegram::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-image: url(/assets/icons/icon-telegram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}