.button_search {
    padding: 12px;
    width: 100%;
    font-size: 15px; 
}

.button_search::after {
    content: "";
    display: inherit;
    width: 18px;
    height: 18px;
    margin-left: 70%;
    background-image: url(/assets/icons/icon-search.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}